In [1]:
import pandas as pd
import glob

In [2]:
#caminho da leitura
path = r'D:\Dropbox\Pessoal\Python\COVID\COVID19-SP-BR\Dados'
files = glob.glob(path + "/*.xlsx")

In [3]:
#Importação do dataframe padrao
df = pd.read_excel(r"D:\Dropbox\Pessoal\Python\COVID\COVID19-SP-BR\tabelas_analise\tabela_base.xlsx", index_col=0)

In [4]:
df.head()

,26_mar,27_mar,28_mar,29_mar,30_mar,01_abr,02_abr,03_abr,04_abr,05_abr,...,14-jun,15-jun,16-jun,17-jun,18-jun,19-jun,20-jun,21-jun,22-jun,23-jun
adamantina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adolfo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aguai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aguas da prata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aguas de lindoia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Para cada coluna do DF padrão procura a correnpondência no arquivo de dados e adiciona onde houver correspondência entre
# o nome do arquivo e a coluna padrão assim como onde o nome da cidade for semelhante entre os dois

# iterando entre as colunas
for col in list(df.columns):
    
    #iterando entre os arquivos
    for file in files:
        f = pd.read_excel(file, index_col=0, header= None)
        
        #criação de um dicionário para armazenar o valor e a chave
        d = dict(f[1])
        
        #verificando se o nome do arquivo tem correspondência com alguma coluna
        if file.rpartition('\\')[2].replace(".xlsx", "") == col:
            
            # se houver itera entre as chaves do dicionário e adiciona o valor dele na coluna do DF padrão
            for i in d:
                try:
                    df.loc[i, col] = d.get(i)
                except:
                    continue

In [6]:
#fazendo de todas as colunas numéricas
for col in df:
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(float)

In [7]:
df.to_csv(r"D:\Dropbox\Pessoal\Python\COVID\COVID19-SP-BR\tabelas_analise\infectados_municipio.csv")

In [8]:
df.head()

,26_mar,27_mar,28_mar,29_mar,30_mar,01_abr,02_abr,03_abr,04_abr,05_abr,...,14-jun,15-jun,16-jun,17-jun,18-jun,19-jun,20-jun,21-jun,22-jun,23-jun
adamantina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,44.0,44.0,46.0,46.0,46.0,45.0,45.0,45.0,45.0,46.0
adolfo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,5.0,5.0,5.0,7.0,8.0,9.0,9.0,11.0
aguai,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50.0,50.0,51.0,51.0,51.0,57.0,55.0,55.0,55.0,59.0
aguas da prata,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
aguas de lindoia,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,24.0,24.0,25.0,25.0,25.0,32.0,32.0,32.0,32.0,32.0

In [9]:
df.dtypes

26_mar    float64
27_mar    float64
28_mar    float64
29_mar    float64
30_mar    float64
           ...
19-jun    float64
20-jun    float64
21-jun    float64
22-jun    float64
23-jun    float64
Length: 89, dtype: object